body {
  box-sizing: border-box;
  background-image: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 650px;
  margin: 30px auto;
}

footer {
  color: white;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #5151e5;
}